* {
    box-sizing: border-box;
}

body {
    background-color: rgb(214, 202, 202);
    margin: 0;
    font-family: sans-serif;
}
/* added flex wrap to header */
header {
    display: flex;
    flex-wrap: wrap;
    background-image: url("./images/subheader-image.jpeg");
    justify-content: space-between;
    padding: 0px;

}

header h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 50px;
    display: inline-block;
    margin-left: 20px;
}

header nav {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
}

/* Changed main display to flex */
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* Changed section display to flex */
section {
    display: flex;
    flex: auto;
    margin: 0 auto;
    justify-content: column;
    padding: 20px;
    background-color:rgb(83, 192, 94);
    font-size: 28px;
}
section img {
    display: block;
    margin: auto;
}

section .category {
    width: 300px;
    text-align: center;
}

section .content {
    display: flex;
}

.profile-pic {
    height: 150px;
    width: 150px;
}

section p {
    text-align: center;
    font-size: 24px;
    padding: 20px;
    background-color:rgb(225, 237, 100);
}
/* Condensed .card properties */
.card {
    background-size: cover;
    height: 250px;
    width: 250px;
}

.content a:hover {
    filter: grayscale();
}

.lake {
    background-image: url("./images/mountain-lake.jpeg");
}

.prework {
    background-image: url("./images/pacific-ocean.jpeg");
}

.mini {
    background-image: url("./images/nyc-image.jpeg");
}

.card a img {
    display: block;
    width: 100%;
    height: 100%;
    list-style-type: none;
    object-position: center;

}

.card h3 {
    font-size: 24px;
    color: white;
    text-align:center;
}

.content ul {
    display: flex;
    justify-content:center;
    align-items: center;
    list-style-type: none;
    font-size: 30px;
}

.content ul li {
    justify-content: space-between;
}
#phone {
    color:white;
}

section h2 {
    width: 300px;
}
.category .work {
    align-items: center;
}
.work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer {
    text-align:center;
    padding: 50px;
    background-color:rgb(225, 237, 100);
    font-size: 28px;
    color: white;
}


@media screen and (max-width:860px) {
    section  {
        flex-wrap: wrap;
    }
    header, section {
        justify-content: center;
    }
    .category {
        flex-direction: column;
    }
    .content ul {
        font-size: 20px;
    }
}